<%= turbo_frame_tag order, :summary do %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Order number:</strong>
    <%= order.order_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Total items:</strong>
    <%= order.total_items %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= order.total_price %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= order.notes %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Payment method:</strong>
    <%= order.payment_method %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Payment status:</strong>
    <%= order.payment_status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Shipping method:</strong>
    <%= order.shipping_method %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Shipping cost:</strong>
    <%= order.shipping_cost %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Estimated delivery date:</strong>
    <%= order.estimated_delivery_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Tracking number:</strong>
    <%= order.tracking_number %>
  </p>
<% end %>
