<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order number:</strong>
    <%= order.order_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total items:</strong>
    <%= order.total_items %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= order.total_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= order.notes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment method:</strong>
    <%= order.payment_method %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment status:</strong>
    <%= order.payment_status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipping method:</strong>
    <%= order.shipping_method %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipping cost:</strong>
    <%= order.shipping_cost %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Estimated delivery date:</strong>
    <%= order.estimated_delivery_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tracking number:</strong>
    <%= order.tracking_number %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this order", order, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this order", edit_order_path(order), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
