<div class="group relative">
  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
    <% if product.variant.image_urls %>
      <a href="<%= product_path(product) %>">
        <img src="<%= product.variant.image_urls.first.url + "?v=MpPkdtjht/UfWaMls2WGsQ==&width=400&mode=max" %>" alt="<%= product.variant.style.short_description %>" class="h-full w-full object-contain object-center lg:h-full lg:w-full">
      </a>
    <% end %>
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <a href="<%= product_path(product) %>">
          <span aria-hidden="true" class="absolute inset-0"></span>
          <%= product.variant.style.short_description %>
        </a>
      </h3>
      <p class="mt-1 text-sm text-gray-500"><%= product.variant.color&.name %></p>
    </div>
    <p class="text-sm font-medium text-gray-900"><%= product.variant.rrp_value %>€</p>
  </div>
</div>
