<!DOCTYPE html>
<html>
  <head>
    <title>Miniboxx</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="sticky top-0 z-50">
      <%= render "shared/topbar" %>
      <%= render "shared/navbar" %>
    </header>
    <main>
      <%= yield %>
      <%= render "shared/similar_products" %>
      <%= render "shared/flashes" %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
